absl-py==0.10.0
astunparse==1.6.3
attrs==19.3.0
automationhat==0.2.2
backcall==0.1.0
bleach==3.1.3
blinker==1.4
blinkt==0.1.2
buttonshim==0.0.2
cachetools==4.1.1
Cap1xxx==0.1.3
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
click==7.1.1
colorama==0.4.3
colorzero==1.1
cryptography==2.8
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
docopt==0.6.2
drumhat==0.1.0
entrypoints==0.3
envirophat==1.0.1
ExplorerHAT==0.4.2
ffmpeg-python==0.2.0
Flask==0.12.1
fourletterphat==0.1.0
future==0.18.2
gast==0.3.3
google-auth==1.21.0
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
gpiozero==1.5.1
grpcio==1.31.0
h5py==2.10.0
idna==2.9
importlib-metadata==1.5.0
imutils==0.5.3
ipaddress==1.0.23
ipykernel==5.1.4
ipython==7.13.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==1.1.0
jedi==0.16.0
jeepney==0.4.3
Jinja2==2.8
joblib==0.16.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.0.0
jupyter-console==6.1.0
jupyter-core==4.6.3
Keras-Preprocessing==1.1.2
keyring==21.2.0
keyrings.alt==3.4.0
kiwisolver==1.1.0
Markdown==3.2.2
MarkupSafe==0.23
matplotlib==3.2.1
mcpi==1.1.0
microdotphat==0.2.1
mistune==0.8.4
mote==0.0.4
motephat==0.0.2
nbconvert==5.6.1
nbformat==5.0.4
notebook==6.0.3
numpy==1.18.2
oauthlib==3.1.0
olefile==0.46
opencv-python==4.1.2.30
opt-einsum==3.3.0
pandas==1.1.1
pandocfilters==1.4.2
pantilthat==0.0.7
parso==0.6.2
pexpect==4.8.0
phatbeat==0.1.1
#pi-plates==6.2
pianohat==0.1.0
pickleshare==0.7.5
picraft==1.0
piglow==1.2.5
#pigpio==1.45
Pillow==4.0.0
pipreqs==0.4.10
prometheus-client==0.7.1
prompt-toolkit==3.0.4
protobuf==3.13.0
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.19.1
pycparser==2.20
pycrypto==2.6.1
pygame==1.9.6
Pygments==2.5.2
PyGObject==3.34.0
pyinotify==0.9.6
PyJWT==1.4.2
pyOpenSSL==16.2.0
pyparsing==2.4.6
pyrsistent==0.15.7
pyserial==3.4
python-dateutil==2.8.1
pytz==2020.1
pyxdg==0.26
pyzmq==19.0.0
qtconsole==4.7.1
QtPy==1.9.0
rainbowhat==0.1.0
requests==2.23.0
requests-oauthlib==1.3.0
RPi.GPIO==0.6.5
rsa==4.6
scikit-learn==0.23.2
scipy==1.4.1
scrollphat==0.0.7
scrollphathd==1.2.1
SecretStorage==2.3.1
Send2Trash==1.5.0
sense-emu==1.1
sense-hat==2.2.0
simplejson==3.17.0
six==1.14.0
sklearn==0.0
skywriter==0.0.7
sn3218==1.2.7
spi==0.2.0
#spidev==3.4
ST7735==0.0.3
tensorboard==2.3.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.7.2
tensorflow-estimator==2.3.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
threadpoolctl==2.1.0
tornado==6.0.4
touchphat==0.0.1
traitlets==4.3.3
twython==3.7.0
unicornhathd==0.0.4
urllib3==1.25.8
wcwidth==0.1.8
webencodings==0.5.1
Werkzeug==0.11.15
widgetsnbextension==3.5.1
wrapt==1.12.1
ws4py==0.5.1
yarg==0.1.9
zipp==3.1.0
